<div class="home">
    <div class="text-center">

        <div class="vertical-space"></div>
        <h1><a href="https://eilleswan.github.io/DownGit">DownGit</a></h1>
        <div class="center-row"></div>
        <h4>构建 GitHub 资源下载链接</h4>


        <div class="vertical-space"></div>
        <div class="col-md-6 center-row">
            <input name="url" type="url" placeholder="输入 GitHub 文件或目录树的链接" class="form-control" ng-model="url"
                ng-keypress="catchEnter($event)"></input>
        </div>
        <div class="btn-group center-row">
            <button type="button" class="btn btn-default" ng-click="createDownLink()">创建链接</button>
            <button type="button" class="btn btn-default" ng-click="download()">直接下载</button>
        </div>


        <div ng-show="isProcessing.val">
            <div class="vertical-space"></div>
            <img class="processing-img" src="res/images/processing.gif" />
            <p>已下载 {{downloadedFiles.val}}/{{totalFiles.val}} 个文件</p>
        </div>


        <div class="col-md-6 center-row" ng-show="downUrl">
            <div class="vertical-space"></div>
            <textarea class="form-control download-link-box" ng-model="downUrl"></textarea>
        </div>

        <div class="vertical-space"></div>
        <div class="footer">
            <a class="donate-button" target="_blank"
                href="https://www.paypal.com/donate/?business=5KR6BA9MYTM62&no_recurring=0&currency_code=USD">向原作者捐赠</a>
            <div class="vertical-space"></div>
            <a target="_blank" href="https://github.com/MinhasKamal/DownGit">DownGit</a> by <a target="_blank"
                href="https://github.com/MinhasKamal">Minhas Kamal</a><br></br>
            由<a target="_blank" href="https://github.com/EillesWan/">金羿Eilles</a>翻译
        </div>

    </div>
</div>